
@{
    ViewBag.Title = "ad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="slider">
                    <div id="slider" class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_cheesecake_brownie.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_lemon.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_donut.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_caramel.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_cheesecake_brownie.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_lemon.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_donut.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_caramel.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_cheesecake_brownie.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_lemon.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_donut.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_caramel.jpg" />
                            </li>
                        </ul>
                    </div>
                    <div id="carousel" class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_cheesecake_brownie.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_lemon.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_donut.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_caramel.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_cheesecake_brownie.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_lemon.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_donut.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_caramel.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_cheesecake_brownie.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_lemon.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_donut.jpg" />
                            </li>
                            <li>
                                <img src="~/Content/slider/img/kitchen_adventurer_caramel.jpg" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flexslider testimony-wrap ">
                    <br/>
                    <h3 class="name">Rs 2,540,000 <span>Negotiable</span></h3> 
                    <p>Condition:Used</p>
                    <p>Model year:2016</p>
                    <p>Mileage:17,000 km</p>
                    <p>Brand:Nissan</p>
                    <p>Model:Every Clipper Safty</p>
                    <h3>Description</h3>
                    <p>
                        Unregistered Nissan Clipper Buddy Van Package - DX GL with RBS (Safety)
                        Model - DA17V Silver Colour Including two years japan warranty with 3 free servises.
                    </p>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate fadeInUp ftco-animated flexslider testimony-wrap " >
                <div class="blog-entry justify-content-end">
                    @*<img class="block-20" src="~/Template/images/car-10.jpg" />*@
                    <div class="text pt-4">
                        <div class="meta mb-3">
                            <div><a href="#">July. 24, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <div class="flexslider testimony-wrap ">
                            <br />
                            <h3 class="name">Rs 2,540,000 <span>Negotiable</span></h3>
                            <p>Condition:Used</p>
                            <p>Model year:2016</p>
                            <p>Mileage:17,000 km</p>
                            <p>Brand:Nissan</p>
                            <p>Model:Every Clipper Safty</p>
                            <h3>Description</h3>
                            <p>
                                Unregistered Nissan Clipper Buddy Van Package - DX GL with RBS (Safety)
                                Model - DA17V Silver Colour Including two years japan warranty with 3 free servises.
                            </p>
                        </div>
                        <h3 class="heading mt-2"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    </div>
                    <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
                        <h3>Tag Cloud</h3>
                        <div class="tagcloud">
                            <a href="#" class="tag-cloud-link">dish</a>
                            <a href="#" class="tag-cloud-link">menu</a>
                            <a href="#" class="tag-cloud-link">food</a>
                            <a href="#" class="tag-cloud-link">sweet</a>
                            <a href="#" class="tag-cloud-link">tasty</a>
                            <a href="#" class="tag-cloud-link">delicious</a>
                            <a href="#" class="tag-cloud-link">desserts</a>
                            <a href="#" class="tag-cloud-link">drinks</a>
                        </div>
                    </div>
                </div>                  
            </div>                     
        </div>       
        <br/>
        <div class="row">
            <div class="d-flex flexslider ">
            <div class="col-md-6">
                <div class="about-author d-flex p-4 bg-light">
                    <div class="bio mr-5" style="width:50%">
                        <img class="img-fluid mb-4" src="~/Template/images/car-10.jpg" />
                    </div>
                    <div class="desc" style="width:50%">
                        <h3>George Washington</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, </p>
                    </div>
                </div>
                <div class="about-author d-flex p-4 bg-light">
                    <div class="bio mr-5" style="width:50%">
                        <img class="img-fluid mb-4" src="~/Template/images/car-10.jpg" />
                    </div>
                    <div class="desc" style="width:50%">
                        <h3>George Washington</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-author d-flex p-4 bg-light">
                    <div class="bio mr-5" style="width:50%">
                        <img class="img-fluid mb-4" src="~/Template/images/car-10.jpg" />
                    </div>
                    <div class="desc" style="width:50%">
                        <h3>George Washington</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, </p>
                    </div>
                </div>
                <div class="about-author d-flex p-4 bg-light">
                    <div class="bio mr-5" style="width:50%">
                        <img class="img-fluid mb-4" src="~/Template/images/car-10.jpg" />
                    </div>
                    <div class="desc" style="width:50%">
                        <h3>George Washington</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, </p>
                    </div>
                </div>
            </div>
            </div>      
            
        </div>
    </div>
</section>

    <script>
        $(document).ready(function () {
            $('#carousel').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                itemWidth: 210,
                itemMargin: 5,
                asNavFor: '#slider'
            });
            $('#slider').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                sync: "#carousel",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>

