@using APN_Car_Sale.Models;
@model ViewModel

@{
    ViewBag.Title = "Vehicle";
}

<style>
    .search-wrap-1 {
        padding-top: 1em;
        padding-bottom:0;
    }
    a {
    text-decoration: none;
    }
    a:hover {
    text-decoration: underline;
    }


</style>

<script src="~/Template/js/jquery-3.2.1.min.js"></script>
<script>

    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }

        $("#searchItem").keyup(function () {            
            var searchText = $("#searchItem").val().toLowerCase();            
            $(".searchItem").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
          });
    });

    //var x = document.getElementById("demo");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            alert( "Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {

        alert("Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude);
        
    }
    
    // load category
    $.get("/Admin/GetCategory", null, DataBind);
    function DataBind(List) {
        for (var i = 0; i < List.length; i++) { 
            loadSubCategory(List[i].id)
        }
    }

    // load subcategory by category id
    function loadSubCategory(id)
    {
        var url = "/Ads/GetSubCategoryByCategoryId?cid=" + id;
        var setData = $("#id-"+id);
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(JSON.stringify(data));
                setData.html(" ");  
                for(var i = 0; i < obj.length; i++ )
                {
                   var data = "<ol>" +
                                "<li><a href='" + obj[i].SId + "' style='color:#fc983c'>" + obj[i].SName + "</a></li>" +
                              "</ol>";
                                      
                   setData.append(data);             
                   
                }

            }
        })
    }

</script>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-9 order-md-last ftco-animate fadeInUp ftco-animated">
                <section>
                    <div class="container">
                        <div class="row">                       

                            <div class="sidebar-box">
                                <form action="#" class="search-form">
                                    <div class="form-group">
                                        <span class="icon icon-search"></span>
                                        <input type="text" id="searchItem" class="form-control" placeholder="Type a keyword and hit enter">
                                    </div>
                                </form>
                            </div>

                            @foreach (var item in Model.vehicles)
                            {
                            <div class="col-md-3 col-sm-4 col-xs-6 searchItem">
                                <div class="car-wrap ftco-animate fadeInUp ftco-animated">
                                    <div class="img d-flex align-items-end" style="background-image: url(/Template/images/car-1.jpg);">
                                        
                                    </div>
                                    <div class="text" style="padding:8px">
                                        <h2 class="mb-0"><a href="/Ads/ad">@Html.DisplayFor(modelItem => item.Brand)</a></h2>
                                        <span>@Html.DisplayFor(modelItem => item.Model)</span>

                                        <span style="color:#adb2da">Address</span>

                                        <div class="meta">
                                            <div style="font-size: 12px;"><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                            
                        </div>
                        <div class="row mt-5">
                            <div class="col text-center">
                                <div class="block-27">
                                    <ul>
                                        <li><a href="#">&lt;</a></li>
                                        <li class="active"><span>1</span></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">&gt;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div> <!-- .col-md-8 -->
            <div class="col-md-3 sidebar ftco-animate fadeInUp ftco-animated">
                
                @*@{ Html.RenderAction("LeftSideBar"); }*@
                <div class="sidebar-box ftco-animate fadeInUp ftco-animated" style="border: 1px solid #adb2da;">

                    <div class="categories">                        
                        <h3>Categories</h3>
                        @foreach (var item in Model.categories)
                        {
                            <li>
                                <a href="#" data-toggle="collapse" data-target="#id-@item.id" >@item.name<span id="subcount"></span></a>
                                <div id="id-@item.id" class="collapse" style="padding-left: 20px;padding-top: 10px;">
                                    
                                </div>
                            </li>
                        }
                        <li><a href="#" onclick="getLocation()">GetNarest Vehicle <span>(140)</span></a></li>
                        
                    </div>
                </div>
                <br/>
                <div class="sidebar-box ftco-animate fadeInUp ftco-animated" style="border: 1px solid #adb2da;">
                    <h3>Recent Blog</h3>
                    <div class="block-21 d-flex">                        
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>                    
                </div>

                <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
                    <h3>Tag Cloud</h3>
                    <div class="tagcloud">
                        <a href="#" class="tag-cloud-link">dish</a>
                        <a href="#" class="tag-cloud-link">menu</a>
                        <a href="#" class="tag-cloud-link">food</a>
                        <a href="#" class="tag-cloud-link">sweet</a>
                        <a href="#" class="tag-cloud-link">tasty</a>
                        <a href="#" class="tag-cloud-link">delicious</a>
                        <a href="#" class="tag-cloud-link">desserts</a>
                        <a href="#" class="tag-cloud-link">drinks</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
