@*@using APN_Car_Sale.Models;
@model ViewModel*@
@model PagedList.IPagedList<APNCarSaleDataService.Models.APN_Vehicle>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Vehicle";
}

<script src="~/Template/js/jquery-3.2.1.min.js"></script>

<script>
    $('a').click(function () {
        $(this).addClass("visited");
    });

    
</script>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-9 order-md-last ftco-animate fadeInUp ftco-animated">
                <section>
                    <div class="container">                                 
                        <div class="col-lg-12" style="padding-bottom:10px;">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 p-0">
                                    <input type="text" class="form-control search-slt txtSearch" placeholder="Location">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 p-0">
                                    <input type="text" class="form-control search-slt txtSearch" placeholder="Search">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 p-0">
                                    <select class="form-control search-slt" id="exampleFormControlSelect1">
                                        <option>Select Brand</option>
                                        <option>Example one</option>
                                        <option>Example one</option>
                                        <option>Example one</option>
                                        <option>Example one</option>
                                        <option>Example one</option>
                                        <option>Example one</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 p-0">
                                    <button type="button" id="search" class="btn btn-danger wrn-btn">Search</button>
                                </div>
                            </div>
                        </div>                          

                        <div class="row load-list">
                                
                        </div>                        

                        <div class="row mt-5">
                            <div class="col text-center">
                                <div class="block-27">
                                    
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination" id="load-pagination"></ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div> <!-- .col-md-8 -->
            <div class="col-md-3 sidebar ftco-animate fadeInUp ftco-animated">
                
                @*@{ Html.RenderAction("LeftSideBar"); }*@
                <div class="sidebar-box ftco-animate fadeInUp ftco-animated sidebar1" > @*style="border: 1px solid #adb2da;"*@                    
                    <div class="">  @*categories*@                                         
                        <ul id="category" class="list subCat">

                        </ul>                        
                        @*<li><a href="#" onclick="getLocation()">GetNarest Vehicle <span>(140)</span></a></li>*@  
                    </div>
                </div>
                <br/>
                @*<div class="sidebar-box ftco-animate fadeInUp ftco-animated" style="border: 1px solid #adb2da;">
                    <h3>Recent Blog</h3>
                    <div class="block-21 d-flex">                        
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>                    
                </div>*@

                <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
                    <h3>Tag Cloud</h3>
                    <div class="tagcloud">
                        <a href="#" class="tag-cloud-link">dish vc</a>
                        <a href="#" class="tag-cloud-link">menu</a>
                        <a href="#" class="tag-cloud-link">food</a>
                        <a href="#" class="tag-cloud-link">sweet</a>
                        <a href="#" class="tag-cloud-link">tasty</a>
                        <a href="#" class="tag-cloud-link">delicious</a>
                        <a href="#" class="tag-cloud-link">desserts</a>
                        <a href="#" class="tag-cloud-link">drinks</a>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
                    <h3>Tag Cloud</h3>
                    <div class="tagcloud">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>


