
<div class="panel panel-default">
    <div class="panel-heading">Dashboard</div>
    <div class="panel-body">
        <a href="/Admin/Index">Category</a>
        <hr />
        <a href="/Admin/SubCategoryIndex">Sub Category</a>
        <hr />
        <a href="/Admin/Index">Vehicles</a>
        <hr />
        <a href="/Admin/Index">Furniture</a>
        <hr />
        <a href="/Admin/Index">Manage Role</a>
    </div>
</div>
